/* Global Styles */
@font-face {
    font-family: 'LT Novelty';
    src: url('../fonts/LT Novelty.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #731837;
    --secondary: #c69c6d;
    --accent: #F7DB94;
    --accent-variation-one: #FFEDA7;
    --accent-variation-two: ##FFF8BB;
    --accent-variation-three: #FFFFC7;
    --light: #f2f2f2;
    --dark: #333333;
    --gray: #f9f9f9;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark);
    background-color: var(--light);
    line-height: 1.6;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'LT Novelty', serif;
    color: var(--primary);
    font-weight: 400;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 0rem;
    position: relative;
    display: inline-block;
}

.section-subtitle {
    color: var(--secondary);
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 !important;
}

/* Header */
header {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}


.uppercase-bold {
    font-family:  "EB Garamond", sans-serif;
    color: var(--primary);
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.logo-container {
    max-width: 400px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
    font-weight: 600;
}

.navbar {
    padding: 0;
}

/* Hero Section */
.hero-section {
    background-color: white;
}

.box-image-hero {
    padding: 2rem;
}

.box-image-hero img {
    width: 90%;
    height: 90%;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
}




.hero-section h1 {
    font-size: 3.15rem;
    margin-bottom: 1rem;
}

.hero-section h2 {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--secondary);
    margin-bottom: 1.5rem;
}

.text-accent {
    color: var(--primary);
}

.bg {
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Divider */
.divider {
    background: linear-gradient(105deg,rgba(247, 219, 148, 0.55) 2%, rgba(255, 237, 167, 0.56) 30%, rgba(255, 248, 187, 0.54) 62%, rgba(255, 255, 199, 0.51) 100%);
    color: var(--primary);
    font-family: 'LT Novelty', serif;
    font-size: 1.2rem;
}

/* About Section */
.about-section {
    background-color: var(--light);
    padding: 5rem 0;
    
}



.about-img-container {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Services Section */
.services-section {
    background-color: white;
    padding: 5rem 0;

    background-image: url("../images/primeira_pagina_identidade_visual.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.treatments-grid {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
    gap: 2rem;
    margin-top: 3rem;


    
   
}

.treatment-item {
    width: 300px;
     background: linear-gradient(105deg,rgba(247, 219, 148, 0.90) 2%, rgba(255, 237, 167, 0.90) 30%, rgba(255, 248, 187, 0.90) 62%, rgba(255, 255, 199, 0.90) 100%);
    padding: 2rem;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.treatment-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.treatment-item h4 {
    color: var(--primary);
    margin-bottom: 1rem;
}

/* Testimonials */
.testimonials-section {
    background-color: var(--light);
    padding: 5rem 0;

    background-image: url("../images/primeira_pagina_identidade_visual.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 0rem !important;
}

.testimonials-container{
    justify-content: center;
}

.testimonial-card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.testimonial-card h4 {
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.rating {
    color: var(--accent);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* FAQ Section */
.faq-section {
    background-color: white;
    padding: 5rem 0;
}

.accordion-item {
    border: none;
    margin-bottom: 1rem;
}

.accordion-button {
    background-color: var(--light);
    color: var(--primary);
    font-family: 'LT Novelty', serif;
    font-size: 1.2rem;
    padding: 1.5rem;
    border-radius: 5px !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary);
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: transparent;
}

.accordion-body {
    padding: 1.5rem;
    background-color: var(--light);
    border-radius: 0 0 5px 5px;
}

/* Location Section */
.location-section {
    /* background-color: var(--accent);
    background: linear-gradient(105deg,rgba(247, 219, 148, 0.55) 2%, rgba(255, 237, 167, 0.56) 30%, rgba(255, 248, 187, 0.54) 62%, rgba(255, 255, 199, 0.51) 100%); */
    padding: 5rem 0;

    background-image: url("../images/primeira_pagina_identidade_visual.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;

}

.map-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-info {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-info h3 {
    margin-bottom: 1.5rem;
}

.contact-info p {
    margin-bottom: 1rem;
}

.contact-info i {
    color: var(--primary);
    margin-right: 0.5rem;
    width: 20px;
}

/* Footer */
.footer {
    background-color: var(--primary);
    color: white;
}

.footer h3 {
    color: var(--accent);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.footer-info li {
    margin-bottom: 0.5rem;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--accent);
}

.footer-logo img {
    max-width: 150px;
}

.social-icons {
    display: flex;
    gap: 1rem;

    justify-content: center;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: var(--accent);
    color: var(--primary);
}

/* Buttons */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.3s;
}

.btn-primary:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--primary);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(115, 24, 55, 0.2);
}

.btn-secondary {
        background: linear-gradient(105deg,rgba(247, 219, 148, 0.9) 2%, rgba(255, 237, 167, 0.9) 30%, rgba(255, 248, 187, 0.9) 62%, rgba(255, 255, 199, 0.9) 100%);
    border-color: var(--secondary);
    color: var(--primary);
    padding: 0.75rem 2rem;
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.3s;
    display: flex;
    width: max-content;
    margin: 0 auto;


}

.btn-secondary:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--primary);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(198, 156, 109, 0.2);
}

.agendar-btn {
    font-size: 1.1rem;
}

.box-image-footer {
    height: 10rem;
    max-width: 25rem;
    min-width: 15rem;
}

.box-image-footer  img {
    height: 100%;
    width: 100%;
    max-width: none;
}

.developer {
        color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.whatsapp-float {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Responsive */
@media (max-width: 991.98px) {
    .hero-section {
        padding: 4rem 0;
    }
    
    .hero-section h1 {
        font-size: 2.5rem;
    }
    
    .hero-section h2 {
        font-size: 1.5rem;
    }
    
    .section-title {
        font-size: 2rem;
    }
    .box-image-footer{
        display: none;
    }
}

@media (max-width: 767px) {
    .hero-section {
        padding: 3rem 0;
    }
    
    .hero-section h1 {
        font-size: 2rem;
    }
    
    .hero-section h2 {
        font-size: 1.2rem;
    }
    
    .section-title {
        font-size: 1.8rem;
    }


    .treatment-item{
        width: 250px;
        padding: 1rem;
    }

    .logo-container {
        max-width: 100px;
    }

    .testimonials-section, .services-section, .location-section{
        background: none;
    }

    .box-image-hero img {
    width: 100%;
}


   

}



